@import "../../variables";

.design__grid {
    display: grid;
    grid-template-columns: 162px repeat(4, 1fr) 162px;
    grid-template-rows: 162px repeat(2, 1fr) 162px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    // background-color: $primary-color;
    background-image: linear-gradient(180deg, $primary-color 0%, #8fd3f4 100%);

    &-item {

        &--container {
            background-color: $light-color;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: $dark-color 12px solid;
        }

        &--left-top-corner {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            
        }

        &--right-top-corner {
            display: flex;
            align-items: flex-end;
            // justify-content: flex-end;
            
        }

        &--left-bottom-corner {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            
        }

        &--top {
            
            grid-column-start: 2;
            grid-column-end: 6;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                color: $light-color;
                position: relative;
                top: 10px;
            }

            a:hover {
                color: $dark-color;
            }
        }


    }

}

.design__image {
    width: 90%;

    &--left-top-corner {
        width: 36px;
    }

    &--right-top-corner {
        transform: rotate(90deg);
        width: 36px;
        
    }

    &--left-bottom-corner {
        transform: rotate(-90deg);
        width: 36px;
    }

    &--right-bottom-corner {
        transform: rotate(-180deg);
        width: 36px;
    }
}