@import "../../variables";

.header__grid {
    display: grid;
    grid-template-columns: 126px 1fr 126px;
    grid-template-rows: 126px 1fr 126px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.grid-item {

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}